<li>
  <div class="collapsible-header">
    <i class="material-icons lime-text">layers</i><%= section.title %>
  </div>

  <div class="collapsible-body">
    <%= markdown(section.outline) %>
    <span class="secondary-content">
      <%= link_to essay_section_path(@essay, section), :class => "lime-text text-darken-1", :title => "MORE" do %>
        <i class="material-icons">flight_takeoff</i>
      <%end%>
      <%= link_to edit_essay_section_path(@essay, section), :class => "lime-text text-darken-1", :title => "EDIT" do %>
        <i class="material-icons">edit</i>
      <%end%>
    </span>
  </div>
</li>
