/* Place all the styles related to the sections controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/*/

.sec_outline{
  margin: 0 5%;
  padding: 1% 1% 1% 5%;
  border-left: 6px double #558b2f;
  background-color: #f4ff81;
}

.clearfix{
  padding: 10px;
}
